    //Import
    @import url(http//:fonts.googleapis.com/css?family=Roboto);
    //Varibles
    $primary-text-color: black;
    $panel-color: green;
    $panel-border: darkgreen;
    $nav-bg-color: darkslategray;
    $nav-text-color: white;
    $nav-hover-color: lighten($nav-bg-color, 20%);
    //Fonts
    $roboto-slab: 'Roboto Slab',
    serif;
    $body-font: $roboto-slab;
    //Mixins
    @mixin border-radius($radius) {
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -ms-border-radius: $radius;
        border-radius: $radius;
    }
    
    @mixin clearfix() {
        &:before,
        &:after {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
    
    h2 {
        color: primary-text-color;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .panel {
        img {
            float: left;
            padding: 15px 15px 15px 15px;
        }
        @include clearfix();
        @include border-radius(5px);
        border: 1px solid $panel-border;
        background-color: $panel-color;
        p {
            text-align: right;
            padding: 15px 15px 15px 15px;
        }
    }
    
    nav {
        width: 100%;
        ul {
            background-color: $nav-bg-color;
            text-align: center;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li {
            display: inline-block;
            font-size: 1.3em;
            line-height: 45px;
            width: 100px;
            height: 45px;
        }
        a {
            display: block;
            text-decoration: none;
            transition: .3s $nav-bg-color;
            color: $nav-text-color;
            &:hover {
                background-color: $nav-hover-color;
            }
        }
        //Style
        body {
            font-family: $body-font;
        }
    }
